services:
  mongo:
    image: mongo:7
    container_name: iot-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    command: ["mongod", "--quiet"]

  backend:
    build:
      context: .
      target: base
    container_name: iot-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      # Hot-reload dev: your local code is mounted into the container
      - ./:/app
    depends_on:
      - mongo
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
      --reload-dir /app

volumes:
  mongo_data:
